@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

main{
    height: 100vh;
    width: 100vw;
}

#container1{
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    place-items: center;
}

#img-container{
    transition: 1s all ease;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

button{
    height: 20px;
    width: 60px;
    margin: 10px;
}

#container2{
    height: 100vh;
    width: 100vw;
    background-color: green;
}