@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@font-face {
    font-family: plant;
    src: url(./fonts/MangabeyRegular-rgqVO.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plant";
}

main{
    height: 100vh;
    width: 100vw;
}

#container1{
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/550x/da/60/61/da60611a3c195b296df34a474db58004.jpg);
    background-size: cover;
    background-color: greenyellow;
    display: grid;
    place-items: center;
}

#img-container{
    transition: 1s all ease;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

button{
    height: 20px;
    width: 60px;
    margin: 10px;
}

#container2{
    height: 100vh;
    width: 100vw;
    background-color: green;
}

#points-container{
    position: absolute;
    bottom: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 15%;
    background: green;
    text-align: center;
    border-top-left-radius: 100% 80px;
	border-top-right-radius: 100% 80px;
    border-top: 2px solid black;
    font-size: 120%;
    letter-spacing: 3px;
}